<div class="cm-builder">
    <cm-top-bar custom-metadata-objects="vm.existingCustomMetadataObjects" deployment-status="vm.deploymentStatus" org-data="vm.orgData" rebuild-all-data="vm.rebuildAllData" selected-object="vm.selectedObject" selected-field="vm.selectedField" selected-record="vm.selectedRecord" save-changes="vm.saveChanges"></cm-top-bar>
    <cm-objects custom-metadata-objects="vm.existingCustomMetadataObjects" selected-record="vm.selectedRecord" selected-field="vm.selectedField" selected-object="vm.selectedObject"></cm-objects>
    <cm-fields selected-object="vm.selectedObject" selected-field="vm.selectedField" ></cm-fields>
    <cm-records selected-object="vm.selectedObject" selected-record="vm.selectedRecord" ></cm-records>
    <cm-workspace selected-field="vm.selectedField" selected-object="vm.selectedObject" selected-record="vm.selectedRecord" deployment-status="vm.deploymentStatus"></cm-workspace>
</div>
