<div class="main-dashboard">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat consectetur justo, eu tempor nisi. Phasellus pharetra efficitur orci. Curabitur dignissim nisi diam, a egestas dolor consectetur eu. Morbi ornare pretium elit et ultrices. Mauris augue urna, vestibulum in est ac, tempus lacinia massa. Ut aliquet ac tellus nec lobortis. Mauris facilisis turpis et urna porttitor blandit. Fusce elementum ligula velit, tincidunt ornare ex condimentum non. Quisque commodo, neque sit amet finibus pharetra, mi ipsum eleifend ipsum, vitae lacinia leo mauris ut quam. Aliquam non ultrices lectus. Maecenas sapien nisl, feugiat a lobortis sed, luctus quis odio. Donec at nisi a lorem accumsan molestie. In tempor finibus enim, sed posuere leo.</p>
            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet lorem vel sapien luctus tincidunt nec et lorem. Nam rutrum tempor nibh, eget auctor sem accumsan id. Praesent eleifend aliquet venenatis. Nunc metus urna, commodo nec leo vel, fringilla ornare diam. Pellentesque pretium purus eu metus porta, at lacinia justo maximus. Suspendisse tristique tortor et aliquam lobortis. Ut ut rhoncus felis. Proin ac augue vel ipsum imperdiet cursus nec sit amet nunc. Pellentesque malesuada libero ac nisi venenatis, sit amet porttitor justo hendrerit. Phasellus pellentesque dui velit, eget vulputate tellus sagittis ut. Nulla at ante ut ipsum egestas porttitor. Aliquam vitae molestie felis, eu sodales nisl.</p>
            </div>
        </div>
    </div>
</div>
